{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Infinite Co</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link rel="icon" href="./assets/img/infinite-co-2-PhotoRoom.png-PhotoRoom.png">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center" style="height: 50px">

      {% comment %} <h1 class="logo me-auto"><a href="index.html">InfiniteCO</a></h1> {% endcomment %}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto"><img src="{{ config.logo.url }}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          {% for navbar in navbars %}
            <li><a class="nav-link scrollto active" href="/#{{navbar.url}}">{{navbar.title}}</a></li>
          {% endfor %}
          {% for getstarted in getstarteds %}
            <li><a class="getstarted scrollto" href="/#{{getstarted.url}}">{{getstarted.title}}</a></li>
          {% endfor %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% block header %} {% endblock header %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>{{ config.text1 }}</h1>
          <h2>{{ config.text2 }}</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            {% for getstarted in getstarteds %}
              <a href="/#{{getstarted.url}}" class="btn-get-started scrollto">{{getstarted.title}}</a>
            {% endfor %}
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{{ config.image1.url }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Biz haqimizda</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              {{ config.text3 }}
            </p>
            <ul>
              {% for i in list1 %}
              <li><i class="ri-check-double-line"></i> {{ i }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              {{ config.text4 }}
            </p>
            <a href="#" class="btn-learn-more">Batafsil ma'lumot</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <!-- <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section>End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ config.image2.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>{{ config.text5 }}</h3>
            <p class="fst-italic">
              {{ config.text6 }}
            </p>

            <div class="skills-content">

              {% for static in statics %}
                <div class="progress">
                  <span class="skill">{{static.direction}} <i class="val">{{static.percent}}%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{static.percent}}" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              {% endfor %}

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Xizmatlar</h2>
          <p>{{ config.text7 }}</p>
        </div>

        <div class="row">
          {% for service in services %}

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="{{service.data_aos_delay}}">
              <div class="icon-box" style="width:100%">
                <div class="icon"><i class="{{service.icon}}"></i></div>
                <h4><a href="">{{service.title}}</a></h4>
                <p>{{service.description}}</p>
              </div>
            </div>

          {% endfor %}

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>{{ config.text8 }}</h3>
            <p>{{ config.text9 }}</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a style="font-size: 15px;" class="cta-btn align-middle" href="{{ config.link1 }}">Harakatga chaqirish</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>{{ config.text10 }}</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">Hammasi</li>
          {% for category in categories %}
            <li data-filter=".filter-{{category.data_filter}}">{{category.title}}</li>
          {% endfor %}
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          {% for portfolio in portfolios %}
          <div class="col-lg-4 col-md-6 portfolio-item {{ portfolio.filter_text }}">
              <div class="portfolio-img">
                <a href="{{portfolio.url}}"><img src="{{portfolio.image.url}}" class="img-fluid" alt=""></a>
              </div>
              <div class="portfolio-info">
                <h4>{{portfolio.title}}</h4>
                <p>{{portfolio.description}}</p>
                <a href="{{portfolio.url}}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox preview-link" title="{{portfolio.title}}"><i class="bx bx-plus"></i></a>
                <a href="{% url 'portfolio_detail' portfolio.id%}" class="details-link" title="Batafsil ma'lumot"><i class="bx bx-link"></i></a>
              </div>
            </div>
          {% empty %}
            <h2>Hozircha hech narsa yo'q))</h2>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Jamoa</h2>
          <p>{{ config.text11 }}</p>
        </div>

        <div class="row">
          {% for team in teams %}
          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100" style="margin-top: 23px;">
            
              
                <div class="member d-flex align-items-start">
                <div class="pic"><img src="{{team.image.url}}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>{{team.name}}</h4>
                  <span>{{team.subject}}</span>
                  <p>{{team.description}}</p>
                  <div class="social">
                    <!-- Twitter: ri-twitter-fill -->
                    <!-- Facebook: ri-facebook-fill -->
                    <!-- Instagram: ri-instagram-fill -->
                    <!-- Linkedin: ri-linkedin-box-fill -->
                    {% for teamnetwork in team.team.all %}
                      <a href="{{teamnetwork.url}}"><i class="{{teamnetwork.icon}}"></i></a>
                      <!-- twitter: bx bxl-twitter -->
                      <!-- facebook: bx bxl-facebook -->
                      <!-- instagram: bx bxl-instagram -->
                      <!-- google-plus: bx bxl-skype -->
                      <!-- linkedin: bx bxl-linkedin -->
                    {% endfor %}
                  </div>
                </div>
                </div>
              
            
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free Plan</h3>
              <h4><sup>$</sup>0<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Business Plan</h3>
              <h4><sup>$</sup>29<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Developer Plan</h3>
              <h4><sup>$</sup>49<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Get Started</a>
            </div>
          </div>

        </div>

      </div>
    </section>End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Tez-tez so'raladigan savollar</h2>
          <p>{{ config.text12 }}</p>
        </div>

        <div class="faq-list">
          <ul>
            {% for question in questions %}
              <li data-aos="fade-up" data-aos-delay="{{question.data_aos_delay}}">
                  <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-{{question.faq_list}}"
                    class="collapsed">{{question.question}}<i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="faq-list-{{question.faq_list}}" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      {{question.answer}}
                    </p>
                  </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section><!-- End Frequently Asked Questions Section -->
    
    <!-- Clinets section -->
    <section id="partners" class="partners">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 style="color: #18d26e;">Bizning Hamkorlarimiz</h3>
        </header>
        <marquee behavior="scroll" direction="">
          <div style="display: inline-flex; justify-content: center; width: 100%; height: auto; margin-top: 60px;" class="center">
            {% for partner in partners %} 
            <div class="clients-slider swiper" style="display: inline-flex; justify-content: center;
            width: 200px;
            height: 120px;">
               
              <div class="swiper-wrapper align-items-center">
                  
                    <div class="partners-images" style="display:flex; align-items: center; justify-content:center" >
                      <div class="swiper-slide" id="clients">
                          
                        <img src="{{partner.image.url}}" style="width:100%; height:auto" class="img-fluid" alt="{{partner.title}}">
                      
                      </div>
                    </div>
                  
              </div>
              <div class="swiper-pagination">
              </div>
            </div>
            {% endfor %}
          </div>
        </marquee>
      </div>
      
    </section>
    <!-- end client section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>A'loqa</h2>
          <p>{{ config.text13 }}</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Manzil:</h4>
                <p>{{ config.location1 }}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{ config.email1 }}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Qo'ng'iroq qiling:</h4>
                <p>{{ config.call1 }}</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d532.8678396060878!2d72.49923799042489!3d40.93207931023054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d40.931841999999996!2d72.4990376!4m5!1s0x38bcc3c2f119212b%3A0x4858339f197a85f7!2s%22Namash%20Smart%20Kids%22%20o&#39;quv%20markazi%2C%20WFJX%2BQHX%2C%20Pahtaobod%2C%20Uzbekistan!3m2!1d40.9319875!2d72.4989713!5e1!3m2!1sen!2s!4v1694074861102!5m2!1sen!2s"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="" method="post" role="form" class="php-email-form">{% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Ismingiz</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Elektron manzilingiz</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Mavzu</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Xabar</label>
                <textarea class="form-control" name="message" rows="10" id="message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Yuklanmoqda</div>
                <div class="error-message"></div>
                <div class="sent-message">Xabaringiz jo'natildi. Raxmat!</div>
              </div>
              <div class="text-center"><button type="submit">Xabarni yuborish</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Infinite Co</h3>
            <p>{{ config.text14 }}<br><br>
              <strong>Telefon:</strong> {{ config.call1 }}<br>
              <strong>Elektron manzil:</strong> {{ config.email1 }}<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Foydali havolalar</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bosh sahifa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Biz haqimizda</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Xizmatlar</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Xizmat shartlari</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maxfiylik siyosati</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Veb Dizayn</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Veb ishlab chiqish</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maxsulotni boshqarish</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Grafig Dizayn</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Bizning ijtimoiy-tarmoqlarimiz</h4>
            <p>{{ config.text15 }}</p>
            <div class="social-links mt-3">
              {% for socialnetwork in socialnetworks %}
                <a href="{{socialnetwork.url}}" class="twitter"><i class="{{socialnetwork.icon}}"></i></a>
                <!-- twitter: bx bxl-twitter -->
                <!-- facebook: bx bxl-facebook -->
                <!-- instagram: bx bxl-instagram -->
                <!-- google-plus: bx bxl-skype -->
                <!-- linkedin: bx bxl-linkedin -->
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Mualliflik huquqi <strong><span>Infinite Co</span></strong>. Barcha huquqlar himoyalangan
      </div>
      <div class="credits">
        <a href="">Infinite CO</a> tomonidan ishlab chiqarilgan
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>


  <script>

//     document.querySelector('.php-email-form').addEventListener('submit', (event) => {
//       event.preventDefault();
      
//       let name = document.querySelector("#name").value;
//       let email = document.querySelector("#email").value;
//       let subject = document.querySelector("#subject").value;
//       let message = document.querySelector("#message").value;
//       let data = {name: name, email: email, subject: subject, message: message};
//       let prettyTelegramHTML = `Infinite Co Contact Form
      
// From ${name},
// To InfiniteCo,
// Email ${email}
// Subject ${subject}
// ---------------------
// ${message}`

//       console.log(data);
//       console.log(prettyTelegramHTML);
//     });
//     event.target.submit()
    </script>

</body>

</html>